<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coach-母亲节</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" href="../app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->
</head>
<body>
<!--<div class="preloading">-->
    <!--<div class="inner">-->
        <!--&lt;!&ndash;<div class="l-logo">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="http://coachxmas.samesamechina.com/img/loading-logo.png" alt=""/>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="icon-loading">&ndash;&gt;-->
            <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="des-loading">&ndash;&gt;-->
            <!--&lt;!&ndash;目前涌入的小伙伴过多<br>&ndash;&gt;-->
            <!--&lt;!&ndash;页面正在跳转中，请耐心等待。&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--d;d;-->

        <!--dkdk-->
        <!--zhangya-->
    <!--</div>-->
<!--</div>-->
<div class="wrapper">

    yayay

</div>
</body>
</html>