<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coach蔻驰</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" href="../app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->
</head>
<body>
<div class="preloading">
    <div class="inner">
        <!--<div class="l-logo">-->
            <!--<img src="http://coachxmas.samesamechina.com/img/loading-logo.png" alt=""/>-->
        <!--</div>-->
        <!--<div class="icon-loading">-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
        <!--</div>-->
        <!--<p class="des-loading">-->
            <!--目前涌入的小伙伴过多<br>-->
            <!--页面正在跳转中，请耐心等待。-->
        <!--</p>-->
        kdkdkkd

        dkdk
        zhangya
    </div>
</div>
<div class="wrapper">
 start test
</div>
</body>
</html>