<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coach-母亲节</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" href="/app/css/style.css">
    <!-- endinject -->

    <script src="http://coach.samesamechina.com/api/v1/js/c102fde9-634a-4c9a-8936-6d8a0faf156e/wechat?debug=1"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?9c84d6099c01177fed7ca6656361f139";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!-- inject:js -->
    <script type="text/javascript" src="../app/js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="../app/js/lib/pre-loader.js"></script>
    <script type="text/javascript" src="../app/js/rem.js"></script>
    <script type="text/javascript" src="../app/js/weixinshare.js"></script>
    <script type="text/javascript" src="../app/js/api.js"></script>
    <script type="text/javascript" src="../app/js/common.js"></script>
    <script type="text/javascript" src="../app/js/index.js"></script>
    <!-- endinject -->
</head>
<body>
<!--preloading-->
<div class="preloading">
    <div class="inner">
        <div class="l-logo">
            <img src="../app/images/loading-logo.png" alt=""/>
        </div>
        <div class="icon-loading">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p class="des-loading">
            目前涌入的小伙伴过多<br>
            页面正在跳转中，请耐心等待。
        </p>
    </div>
</div>
<!--start content-->
<div class="wrapper">
    <section class="pin pin-1">
        <div class="slogan">
            <img src="../app/images/p1-1.png" alt=""/>
        </div>
        <div class="kv">
            <img src="../app/images/kv.png" alt=""/>
        </div>
        <div class="p1-t1">
            <img src="../app/images/p1-t1.png" alt=""/>
        </div>
        <div class="btn-sprite btn-gogallery"></div>
        <div class="btn-sprite btn-filltext"></div>
    </section>
    <!-- popup share-pop-->
    <div class="popup share-pop hide">
        <div class="share-1">
            <img src="../app/images/share-tips.png" alt=""/>
        </div>
    </div>
    <!-- popup-->
    <div class="popup qrcode-pop hide">
        <div class="inner">
            <div class="qrcode">
                <img src="../app/images/qrcode-follow.png" alt=""/>
            </div>
            <div class="qrcode-text">
                <img src="../app/images/qrcode-follow-text.png" alt=""/>
            </div>
        </div>
    </div>
</div>
</body>
</html>