<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coach-母亲节</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" href="../app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../app/js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="../app/js/rem.js"></script>
    <!-- endinject -->
</head>
<body>
<div class="preloading hide">
    <div class="inner">
        <div class="l-logo">
            <img src="../app/images/loading-logo.png" alt=""/>
        </div>
        <div class="icon-loading">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p class="des-loading">
            目前涌入的小伙伴过多<br>
            页面正在跳转中，请耐心等待。
        </p>
    </div>
</div>
<div class="wrapper">
    <!-- photopage-->
    <section class="pin pin-2 pin-photo current">
        <div class="slogan">
            <img src="../app/images/p1-1.png" alt=""/>
        </div>
        <div class="photo-wrap">
            <div class="top-banner">
                <span class="user-name">Cindy</span>
                <span class="icon-good">100</span>
            </div>
            <div class="photo-frame photo photo-1">
                <div class="block-photo">
                    <div class="p-inner">
                        <img src="../app/images/kv.png" alt=""/>
                    </div>
                </div>
                <div name=""  class="leave-words">
世界上最好的妈妈
值得世界上最好的礼物
妈妈，祝你母亲节快乐
我爱你
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="btn-sprite btn-joinplay"></div>
            <div class="btn-sprite btn-like"></div>
        </div>
    </section>

</div>
</body>
</html>