/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  -webkit-backface-visibility: hidden;
}

.animate {
  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fade {
  animation-name: fade;
  -webkit-animation-name: fade;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.delay1 {
  animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
}

.delay2 {
  animation-delay: 1600ms;
  -webkit-animation-delay: 1600ms;
}

.delay3 {
  animation-delay: 2400ms;
  -webkit-animation-delay: 2400ms;
}

.delay4 {
  animation-delay: 3200ms;
  -webkit-animation-delay: 3200ms;
}

.delay5 {
  animation-delay: 4000ms;
  -webkit-animation-delay: 4000ms;
}

strong {
  font-weight: bold;
}

img {
  width: 100%;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.error {
  display: block;
  width: 5rem;
  color: #FFFFFF;
  font-size: 0.2rem;
  text-align: center;
  margin: 0.1rem auto;
}

.btn-close {
  position: relative;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0rem auto 0rem;
  left: -0.1rem;
}
.btn-close:after {
  content: '';
  display: block;
  width: 0.8rem;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background: #c0a176;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-close:before {
  content: '';
  display: block;
  width: 0.8rem;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background: #c0a176;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

body {
  font: 0.24rem/1.5 "Arial",'sans-serif';
}

.preloading {
  position: absolute;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
}
.preloading .inner {
  width: 4.4rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.5rem;
  margin-left: -2.2rem;
}
.preloading .l-logo {
  width: 1.89rem;
  height: 0.78rem;
  margin: 0 auto;
  -webkit-transform: translate(-5px);
  -moz-transform: translate(-5px);
  -ms-transform: translate(-5px);
  -o-transform: translate(-5px);
  transform: translate(-5px);
  -webkit-animation: lefttoright linear 2s infinite;
  -moz-animation: lefttoright linear 2s infinite;
  animation: lefttoright linear 2s infinite;
}
.preloading .icon-loading {
  margin: 0.2rem auto;
}
.preloading .icon-loading span {
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  background: #848484;
  margin-right: 0.1rem;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
}
.preloading .icon-loading span:nth-child(1) {
  -webkit-animation: loading 1.5s infinite;
  -moz-animation: loading 1.5s infinite;
  animation: loading 1.5s infinite;
}
.preloading .icon-loading span:nth-child(2) {
  -webkit-animation: loading 1.5s infinite 0.5s;
  -moz-animation: loading 1.5s infinite 0.5s;
  animation: loading 1.5s infinite 0.5s;
}
.preloading .icon-loading span:nth-child(3) {
  -webkit-animation: loading 1.5s infinite 1s;
  -moz-animation: loading 1.5s infinite 1s;
  animation: loading 1.5s infinite 1s;
}

@-webkit-keyframes loading {
  0% {
    background: #000;
  }
  66% {
    background: #848484;
  }
}
@-moz-keyframes loading {
  0% {
    background: #000;
  }
  66% {
    background: #848484;
  }
}
@-o-keyframes loading {
  0% {
    background: #000;
  }
  66% {
    background: #848484;
  }
}
@keyframes loading {
  0% {
    background: #000;
  }
  66% {
    background: #848484;
  }
}
@-webkit-keyframes lefttoright {
  0% {
    -webkit-transform: translate(-5px);
  }
  50% {
    -webkit-transform: translate(5px);
  }
}
@-moz-keyframes lefttoright {
  0% {
    -moz-transform: translate(-5px);
  }
  50% {
    -moz-transform: translate(5px);
  }
}
@-o-keyframes lefttoright {
  0% {
    -o-transform: translate(-5px);
  }
  50% {
    -o-transform: translate(5px);
  }
}
@keyframes lefttoright {
  0% {
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  50% {
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.wrapper.landscape {
  background-size: 100%;
}

.btn-sprite {
  background: #fff url("../images/btn-sprite.png") no-repeat;
  background-size: 100%;
  width: 2.39rem;
  height: 0.57rem;
  border: #000 1px solid;
}
.btn-sprite.btn-filltext {
  background-position: 0 -0.87rem;
}

.photo {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
}
.photo.photo-1 {
  background-image: url("../images/show-1.png");
}
.photo.photo-2 {
  background-image: url("../images/show-2.png");
}
.photo.photo-3 {
  background-image: url("../images/show-3.png");
}
.photo.photo-4 {
  background-image: url("../images/show-4.png");
}
.photo.photo-5 {
  background-image: url("../images/show-5.png");
}
.photo .num {
  color: #140304;
  font-size: 0.82rem;
  bottom: 1.2rem;
  position: absolute;
  left: 2.4rem;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}
.photo .leave-words {
  position: absolute;
  width: 52%;
  height: 30%;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-appearance: none;
  border: none;
  background: transparent;
  resize: none;
}

.photo-frame {
  width: 7.5rem;
  height: 8.71rem;
}
.photo-frame .leave-words {
  top: 2.5rem;
  left: 2.4rem;
  text-align: center;
  font-size: 0.33rem;
  color: #000;
  overflow: hidden;
}

textarea::-webkit-input-placeholder {
  color: #333;
}

textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #3a0c0a;
}

textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #3a0c0a;
}

textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #3a0c0a;
}

.pin {
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0;
  text-align: center;
  overflow: hidden;
  transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
}
.pin.current {
  opacity: 1;
  z-index: 100;
}
.pin .inner {
  position: absolute;
  margin: 2.5rem auto 0;
  width: 100%;
}

.pin-1 .p1-1 {
  width: 5.71rem;
  height: 0.42rem;
  margin: 0.4rem auto;
}
.pin-1 .kv {
  margin: 0rem auto 0.4rem;
}
.pin-1 .p1-t1 {
  margin: 0rem auto 0.4rem;
  width: 5.46rem;
  height: 1.26rem;
}
.pin-1 .btn-sprite {
  margin: 0rem auto 0.2rem;
}

.pin-2 .p1-1 {
  width: 5.71rem;
  height: 0.42rem;
  margin: 0.4rem auto;
}
.pin-2 .buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.47rem;
  padding-top: 0.7rem;
  background: #fff;
}
.pin-2 .buttons .btn-sprite {
  display: inline-block;
  margin: 0 0.2rem 0;
}
.pin-2 .buttons .btn-back {
  background-position: 0 -2rem;
}
.pin-2 .buttons .btn-submit {
  background-position: 0 -4.25rem;
}

input[type='text'],
input[type='tel'] {
  border: #353535 1px solid;
  border-radius: 5px;
  padding: 0.1rem;
}

.logo {
  width: 3.49rem;
  height: 1.31rem;
  margin: 0.2rem auto;
}

.line-1 {
  width: 90vw;
  height: 2px;
  background: #000;
  border: none;
  margin: 0.3rem auto;
}

.line-2 {
  width: 90vw;
  height: 0px;
  border-top: none;
  border-bottom: #bebebe 2px dotted;
  margin: 0.3rem auto;
}

.pin-3 .info {
  width: 4.21rem;
  height: 0.59rem;
  margin: 0 auto;
}
.pin-3 .form-btn {
  width: 2.9rem;
  height: 0.8rem;
  background: url("../images/form-btn.png") no-repeat;
  background-size: 100%;
}
.pin-3 .form-validate {
  width: 6rem;
  margin: 0 auto;
}
.pin-3 .form-validate .input-box {
  position: relative;
  overflow: hidden;
}
.pin-3 .form-validate .file-title {
  display: block;
  width: 2.07rem;
  height: 0.4rem;
  margin: 0.4rem 0 0.2rem;
  background: url("../images/title.png") no-repeat;
  background-size: 100%;
}
.pin-3 .form-validate .input-phone {
  float: left;
  height: 0.5rem;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}
.pin-3 .form-validate .btn-getkeycode {
  float: left;
  display: inline-block;
  border: none;
  padding: 0;
  position: absolute;
  right: -0.6rem;
}
.pin-3 .form-validate .input-keycode {
  height: 0.5rem;
  float: left;
  margin-left: 0.1rem;
  width: 5.5rem;
}
.pin-3 .form-btn-submit {
  background-position: 0 100%;
  background-size: 100%;
  margin: 0.2rem auto;
}

.pin-4 .info {
  width: 3.36rem;
  height: 0.65rem;
  margin: 0 auto;
}
.pin-4 .file-title {
  display: block;
  width: 2.07rem;
  height: 0.4rem;
  background: url("../images/title.png") no-repeat;
  background-size: 100%;
  background-position: 0 100%;
}
.pin-4 input[type='text'] {
  height: 0.5rem;
  padding: 1vw;
}
.pin-4 .form-info {
  width: 90vw;
  margin: 0 auto;
}
.pin-4 .form-info .input-box {
  position: relative;
  margin: 1vh 0;
  padding-left: 10vw;
  box-sizing: border-box;
}
.pin-4 .form-info .input-box > label {
  position: absolute;
  left: 0;
  top: 0.2rem;
  width: 10vw;
}
.pin-4 .form-info .input-box-surname {
  float: left;
  width: 44vw;
}
.pin-4 .form-info .input-box-surname .input-surname {
  width: 30vw;
}
.pin-4 .form-info .input-box-name {
  float: right;
  width: 44vw;
}
.pin-4 .form-info .input-box-name .input-name {
  width: 30vw;
}
.pin-4 .form-info .input-mobile {
  width: 76vw;
}
.pin-4 .form-info .input-box-gender {
  clear: both;
  position: relative;
  margin: 0.2rem 0;
  padding-top: 0.2rem;
}
.pin-4 .form-info .input-box-gender .radio-collection {
  width: 42vw;
  margin: 0 auto;
  overflow: hidden;
}
.pin-4 .form-info .input-box-gender .radio-inline {
  float: left;
  display: inline-block;
  width: 20vw;
  height: 0.5rem;
  border: #474747 1px solid;
  border-radius: 3px 0px 0px 3px;
}
.pin-4 .form-info .input-box-gender .radio-inline-2 {
  border-radius: 0px 3px 3px 0px;
}
.pin-4 .form-info .input-box-email .input-email-pre {
  width: 45vw;
}
.pin-4 .form-info .input-box-email .input-email-after {
  width: 23vw;
}
.pin-4 .form-btn-submit {
  width: 2.9rem;
  height: 0.7rem;
  background: url("../images/form-btn.png") 0 100% no-repeat;
  background-size: 100%;
  margin: 0.3rem auto;
}
.pin-4 .terms {
  color: #a4a4a4;
}
.pin-4 .terms a {
  color: #000;
}

.pin-5 .coupon {
  display: block;
  width: 6.94rem;
  height: 3.21rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qrcode-pop.popup {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}
.qrcode-pop .qrcode {
  width: 2.4rem;
  height: 2.4rem;
  margin: 2rem auto 0.5rem;
}
.qrcode-pop .qrcode-text {
  margin: 0 auto;
}
.qrcode-pop .qt-yes {
  width: 2.34rem;
  height: 1.07rem;
}
.qrcode-pop .qt-no {
  width: 2.34rem;
  height: 1.5rem;
}
.qrcode-pop .minite-30 {
  width: 2.1rem;
  height: 0.24rem;
  margin: 0.4rem auto 0;
}

.share-pop .share-1 {
  float: right;
  width: 6.29rem;
  height: 3.91rem;
  margin-top: 0.4rem;
  margin-right: 0.2rem;
}

.ajaxpop {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}
.ajaxpop .loading {
  position: absolute;
  width: 2rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  margin-left: -1.1rem;
  margin-top: -0.6rem;
  line-height: 1rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2rem;
  border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  color: #fff;
}
.ajaxpop .icon-loading {
  display: inline-block;
  position: relative;
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.4);
}
.ajaxpop .icon-loading:after {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.popup {
  position: absolute;
  z-index: 101;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tips-pop .inner {
  position: absolute;
  width: 3.96rem;
  height: 1.71rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tips-pop .tips-1 {
  width: 4rem;
  height: 0.75rem;
  background: url("../images/tips.png") no-repeat;
  background-size: 100%;
}
.tips-pop .btn-tips {
  width: 1.8rem;
  height: 0.5rem;
  float: left;
  display: inline-block;
  margin-left: 0.1rem;
  background: url("../images/tips.png") no-repeat;
  background-size: 200%;
  background-position: 0% 100%;
}
.tips-pop .btn-tips.btn-tips-no {
  background-position: 100% 100%;
}
.tips-pop .tips-text {
  width: 1.91rem;
  height: 0.29rem;
  position: absolute;
  left: 0.2rem;
  bottom: 0.2rem;
}

.gallery .item {
  width: 3.3rem;
  height: 4.3rem;
}
.gallery .photo {
  width: 3.28rem;
  height: 3.8rem;
}

#__bs_notify__ {
  display: none !important;
}
